header {
    display: flex;
    justify-content: center;
}
#loggan {    
    font-family: 'times new roman', serif, times; 
    color: #000000; 
    font-size: 100px;
    user-select: none;
}
#loggan:hover {
    user-select: none;
    color: #555555;
    text-shadow: 2px 2px 5px #000000;
    cursor: default;
}
nav {
    text-align: center; 
    margin-top: 20px; 
    font-size: 20px; 
    border-top: #000000 2px solid;
}
#texts {
    border: #000000 2px solid;
    display: flex; 
    justify-content: space-around; 
    margin: 50px; 
    padding:10px;
}
#text1, #text2 {
    width: 45%; 
    color: #333333; 
    text-align: center;
    background-color: aquamarine;
}